
body{
background-color: rgb(216, 227, 255);
}


.Input {
  font: 1.2em sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-width: 100px;
  background-color:rgb(173, 237, 249);
  border-color: rgb(173, 237, 249);



}

.player {
  font: 1.2em sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.bEnter {
  font: 1.2em sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
}