.Title {
  border-width: 500px;
}


.Input {
  font: 1.2em sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  font: 1.2em sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.bEnter {
  font: 1.2em sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
}